mixin like-buttons(heading, args)

    - let head = heading;
    - let arg = args;

    .form-group
        label.form-group_wrapper
            .form-group__title= head.groupHeader
            if head.note
            .form-group__note= head.note

        .like-button-wrapper
            for t in arg
                button(class= t.class).like-button__button(type= head.type)
                    span.like-button_label= t.label
                        i.icons= like
                        span= t.count
                    